{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
<div style="margin-top: 100px;">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3>{{ board.title }}</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="text-right">
          {% if board in request.user.subscribed_boards.all %}
          <a href="{% url 'subscribe' board.slug %}" class="btn btn-secondary text-lowercase letter-spacing-1" id="subscribe_board">Przestań obserwować</a>
            {% else %}
          <a href="{% url 'subscribe' board.slug %}" class="btn btn-primary text-lowercase letter-spacing-1" id="subscribe_board">Obserwuj</a>
          {% endif %}
          <p class="mt-2"><span>Obserwujących {{board.subscribers.count}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

<div class="row">
     {% for subject in subjects %}
  <div class="col-lg-3 col-md-3">
      <div class="card">
          <div class="card-body">
              <div class="card-title"><a href="{{ subject.get_absolute_url }}">{{ subject.title }}</a></div>
              <div class="card-text">{{ subject.body|truncatewords:10|striptags }}</div>
          </div>
      </div>

  </div>
    {% endfor %}
</div>

</div>


</div>
</div>
{% endblock %}
